@font-face {
    font-family: 'Gantari';
    src: url('Gantari-Black.woff2') format('woff2'),
        url('Gantari-Black.woff') format('woff'),
        url('Gantari-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-ExtraBold.woff2') format('woff2'),
        url('Gantari-ExtraBold.woff') format('woff'),
        url('Gantari-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-Bold.woff2') format('woff2'),
        url('Gantari-Bold.woff') format('woff'),
        url('Gantari-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-SemiBold.woff2') format('woff2'),
        url('Gantari-SemiBold.woff') format('woff'),
        url('Gantari-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-Medium.woff2') format('woff2'),
        url('Gantari-Medium.woff') format('woff'),
        url('Gantari-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-Regular.woff2') format('woff2'),
        url('Gantari-Regular.woff') format('woff'),
        url('Gantari-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-Light.woff2') format('woff2'),
        url('Gantari-Light.woff') format('woff'),
        url('Gantari-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-ExtraLight.woff2') format('woff2'),
        url('Gantari-ExtraLight.woff') format('woff'),
        url('Gantari-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gantari';
    src: url('Gantari-Thin.woff2') format('woff2'),
        url('Gantari-Thin.woff') format('woff'),
        url('Gantari-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}